@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Work Sans", sans-serif;
}
/* Shared Style */
.btn-primary {
  padding: 20px 25px;
  border-radius: 8px;
  background: #ff900e;
  border: none;
  outline: none;
  font-size: 1.2rem;
  font-weight: 600;
  color: #fff;
}
/* Header Styling */
header {
  background-color: rgba(255, 144, 14, 0.1);
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 50px 240px;
  align-items: center;
}
nav > .nav-title {
  color: #131313;
  font-size: 2.8rem;
  font-weight: 700;
}
nav > ul {
  display: flex;
}
nav > ul > li {
  list-style: none;
  margin-right: 25px;
}
nav > ul > li > a {
  text-decoration: none;
  color: #424242;
  font-size: 1.2rem;
  font-weight: 500;
}
.banner-content {
  width: 59%;
  max-width: 860px;
  text-align: center;
  margin: 102px auto 50px;
}
.banner-title {
  color: #131313;
  font-size: 4rem;
  font-weight: 700;
}
.banner-description {
  color: #727272;
  font-size: 1rem;
  font-weight: 400;
}
.banner > img {
  width: 75%;
  max-width: 1440px;
  display: block;
  margin: 0 auto;
  padding-bottom: 45px;
}

.feature {
  width: 75%;
  max-width: 1440px;
  margin: 5.2rem auto 8.1rem ;
  display: flex;
  /* gap: 73px; */
  align-items: center;
}
.feature-img {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.6rem;
  width: 60%;
}
.feature-img > img {
  width: 100%;
}
.feature-content {
  padding-left: 70px;
  padding-right: 70px;
  width: 40%;
}
.feature-content > .feature-title {
  color: #727272;
  font-size: 2.8rem;
  font-weight: 500;
}
.feature-content > .feature-description {
  color: #727272;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 2rem;
}
.our {
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
}
.special{
    color: #FF900E;
font-size: 2.8rem;
font-weight: 700;
}
.fact{
    width: 75%;
    max-width: 1440px;
    margin: 0 auto;
}
.fact-content{
    width: 540px;
}
.fact-content>.fact-title{
    color: #131313;
font-size: 2.8rem;
font-weight: 700;
}
.fact-content>.fact-description{
    color: #727272;
font-size: 1rem;
font-weight: 400;
line-height: 26px; /* 162.5% */
}
.fact-items{
    display: flex;
    justify-content: space-around;
    margin-top: 100px ;
    text-align: center;
}
.fact-items> .item{
    border-radius: 8px;
border: 1px solid #FF900E;
padding:30px;
}
.fact-items> .item> .quantity{
    color: #424242;
font-size: 2.8rem;
font-weight: 600;
margin-top: 10px;
margin-bottom: 5px;
}
.fact-items> .item> .title{
    color: #727272;
font-size: 1.25rem;
font-weight: 600;
}
/* Responsive section */

@media screen and (max-width: 576px) {
  nav {
    flex-direction: column;
    padding: 20px;
  }
  nav > .nav-title {
    text-align: center;
  }
  .banner-content {
    width: 100%;
  }
  nav > ul {
    flex-direction: column;
    text-align: center;
  }
  nav > ul > li {
    margin-bottom: 10px;
  }
  .banner > img {
    width: 100%;
  }
  .feature{
    flex-direction: column-reverse;
  }
  .feature-content{
    width: 100%;
    padding: 20px;
    text-align: center;
  }
  .feature-img{
    grid-template-columns: 1fr;
    width: 100%;
  }
  .fact-content{
    width: 100%;
    margin: 0 auto;
  }
  .fact-items{
    flex-direction: column;
    justify-content: space-evenly;
  }
}
